body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(assets/images/login3.jpg);
}
.login{
    text-align: center;
    padding:  10px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login a{
    text-decoration: none;
    color: #383185;
}
.login #input{
    margin-top: 30px;
    border: none;
    outline: none;
    color: #383185;
    border-bottom: 1px solid #383185;
    background-color: transparent;
}
#submit{
    background-color: #383185;
    color: #ffffff;
    width: 150px;
    border: none;
    font-size: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 3px;
}
::placeholder{
    font-style: italic;
    font-size: 16px;
    color: #383185;
}